<html>
    <head>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <h1>
            <a href="/">Home</a>
            <a href="/newtask">Add Task</a>
            <a href="/listtasks">List Tasks</a>
        </h1>
        <h2>
            <form action="/delete" method="POST">
                Task ID <input type="text" method="POST" name = "delname" /> </br>
                <button>Submit</button>
            </form>
            <a href="/deleteall">Delete All Old Tasks</a>
        </h2>
        
    </body>
</html>